.card {
  border: 1px solid #f8e8f8;
  padding: 30px;
  width: 250px;
  display: flex;
  flex-direction: column;
  border-radius: 40px;
  margin-right: 30px;
  margin-bottom: 30px;
  padding-bottom: 0;
  height: 358.364px;
  position: relative;
  img {
    border-radius: 20px;
  }
  p {
    cursor: default;
  }
  .Text {
    p {
      margin: 0;
    }
  }
  .favorite {
    cursor: pointer;
    user-select: none;
    position: absolute;
    bottom: 10px;
    right: 20px;
    transition: transform 0.2s ease-in-out;
    &:hover {
      transform: scale(2, 2);
    }
  }
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
  &:hover {
    box-shadow: 0px 14px 35px rgb(0, 0, 0, 0.2);
    transform: translateY(-10px);
  }
  .loader {
    user-select: none;
    position: absolute;
    bottom: 10px;
    right: 20px;
    border-top: 5px solid blue;
    border-right: 5px solid green;
    border-bottom: 5px solid red;
    border-left: 5px solid orange;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 0.3s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
